* {
    font-family: Arial, Helvetica, sans-serif;
}

.sfondo {
    width: 100px;
}

.logo {
    width: 75px;
}

span.grigio {
    color: grey;
}

span.celeste {
    color: blue
}

span.evidenziatore {
    background-color: yellow;
}

thead {
    background-color: rgb(0, 102, 255);
    color: white;
}

.sfondo-celeste {
    background-color: lightskyblue;
}